__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo
venv/
env/
.venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt
*.db
*.sqlite3
*.tmp
*.temp
*.log
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
build/
dist/
*.egg-info/
.eggs/
.cache/
